.solid-button-wrapper {
  display: contents;
}
 
.solid-button-container {
  display: flex;
  position: relative;
}
 
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-doubleunit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

.solid-button-wrapper-ie11 {
  display: contents;
}
 
.solid-button-container1 {
  display: flex;
  position: relative;
}
 
.solid-button-button1 {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-doubleunit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

.solid-button-wrapper-bb6i {
  display: contents;
}
 
.solid-button-container2 {
  display: flex;
  position: relative;
}
 
.solid-button-button2 {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-doubleunit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

.gallery1-wrapper {
  display: contents;
}
 
.gallery1-gallery3 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery1-max-width {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery1-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery1-text1 {
  text-align: center;
}
 
.gallery1-text2 {
  text-align: center;
}
 
.gallery1-content {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery1-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery1-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.landing-page-fragment2 {
  display: contents;
}
 
.landing-page-text22 {
  display: inline-block;
}
 
.landing-page-text23 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
 
.landing-page-fragment1 {
  display: contents;
}
 
.landing-page-text21 {
  display: inline-block;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  text-transform: uppercase;
}
 
@media(max-width: 991px) {
  .gallery1-content {
    align-items: center;
    flex-direction: column;
  }
  .landing-page-text23 {
    color: var(--dl-color-gray-black);
    font-family: Poppins;
    font-weight: 700;
  }
}

.landing-page-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.landing-page-top-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.landing-page-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-right-side1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-text10 {
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.landing-page-text11 {
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.landing-page-text12 {
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.landing-page-burger-menu1 {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-burger-menu2 {
  width: 24px;
  height: 24px;
}
 
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.landing-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.landing-page-icon13 {
  width: 24px;
  height: 24px;
}
 
.landing-page-right-side2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.landing-page-links-container2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
 
.landing-page-text13 {
  margin-bottom: 8px;
}
 
.landing-page-text14 {
  margin-bottom: 8px;
}
 
.landing-page-text15 {
  margin-bottom: 8px;
}
 
.landing-page-follow-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.landing-page-text17 {
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.landing-page-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-link1 {
  display: contents;
}
 
.landing-page-icon15 {
  width: 24px;
  height: 24px;
}
 
.landing-page-link2 {
  display: contents;
}
 
.landing-page-icon17 {
  width: 24px;
  height: 24px;
}
 
.landing-page-link3 {
  display: contents;
}
 
.landing-page-icon19 {
  width: 24px;
  height: 24px;
}
 
.landing-page-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.landing-page-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.landing-page-hero {
  flex: 1;
  width: 100%;
  height: 502px;
  display: flex;
  max-width: 1000px;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: center;
}
 
.landing-page-content-container {
  width: 100%;
  height: auto;
  display: grid;
  min-width: auto;
}
 
.landing-page-subheading {
  width: 959px;
  font-style: normal;
  font-weight: 600;
}
 
.landing-page-fragment1 {
  display: contents;
}
 
.landing-page-text21 {
  display: inline-block;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  text-transform: uppercase;
}
 
.landing-page-fragment2 {
  display: contents;
}
 
.landing-page-text22 {
  display: inline-block;
}
 
.landing-page-text23 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
 
.landing-page-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.landing-page-container14 {
  width: 200px;
  height: 84px;
  display: grid;
  padding-top: 31px;
  grid-template-columns: 1fr 1fr;
}
 
.landing-page-text25 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
 
.landing-page-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.landing-page-text26 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
 
.landing-page-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.landing-page-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.landing-page-container18 {
  width: 200px;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.landing-page-container19 {
  width: 200px;
  height: 76px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.landing-page-container20 {
  flex: 0 0 auto;
  width: auto;
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.landing-page-google-maps {
  width: 320px;
  height: 200px;
}
 
.landing-page-container21 {
  flex: 0 0 auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
 
.landing-page-container22 {
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
 
.landing-page-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-links-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-follow-container2 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
 
.landing-page-text27 {
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.landing-page-icons-container2 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.landing-page-link5 {
  display: contents;
}
 
.landing-page-icon21 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
 
.landing-page-link6 {
  display: contents;
}
 
.landing-page-icon23 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
 
.landing-page-link7 {
  display: contents;
}
 
.landing-page-icon25 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
 
@media(max-width: 991px) {
  .landing-page-hero {
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
  .landing-page-text19 {
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-family: Nunito;
    font-weight: 800;
    background-image: linear-gradient(to right, rgb(189, 195, 199) 0%, rgb(44, 62, 80) 100%);
  }
  .landing-page-text23 {
    color: var(--dl-color-gray-black);
    font-family: Poppins;
    font-weight: 700;
  }
}
 
@media(max-width: 767px) {
  .landing-page-right-side1 {
    display: none;
  }
  .landing-page-burger-menu1 {
    display: flex;
  }
  .landing-page-hero {
    justify-content: center;
  }
  .landing-page-content-container {
    align-items: center;
  }
  .landing-page-menu {
    flex-direction: column;
  }
  .landing-page-links-container3 {
    margin-top: var(--dl-layout-space-tripleunit);
    margin-bottom: var(--dl-layout-space-tripleunit);
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .landing-page-subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-text18 {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-text20 {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-links-container3 {
    margin-top: var(--dl-layout-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing-page-follow-container2 {
    margin-left: 0px;
  }
}
